.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    grid-column: 1 / 10;
}

.info-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    font-size: 22px;
    box-shadow: 2px 2px 5px #000;
    padding: 20px;
    margin: 25px 0;
    text-align: center;
    font-weight: 300;
}

.info-box span{
    display: block;
    color: rgb(10, 105, 69);
    font-weight: bold;
}

.charts div{
    margin-bottom: 40px;
}

.change-chart-type{
    padding: 10px;
    background-color: rgba(10, 105, 69, 0.7);
    font-size: 16px;
    color: white;
    border: 1px solid rgb(10, 105, 69);
    border-radius: 5px;
    cursor: pointer;
}



/* ERROR */
.notInGuild{
    text-align: center;
}
.notInGuild p{
    font-size: 20px;
}

.notInGuild a{
    padding: 10px;
    font-size: 22px;
    color: white;
    background-color: rgb(10, 105, 69);
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    
    transition: transform 0.2s, box-shadow 0.2s;
}
.notInGuild a:hover{
    transform: translate(8px, 8px);
    box-shadow: 0px 0px 0 0 rgb(0, 0, 0)
}